/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --visible: visible;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --button-color: #ff0070;
  --header-text-color: #db00ff;
  --section-title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-text-color: #ff0070;
}