/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --header-text-color: #ffc2e6;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --bg-text-color: #ff8dcb;
  --visible: hidden;
}