:root.theme-light {
  /* Фоновое изображение светлой темы */
  --bg-image: url(../images/cover-image-light.png);

  /* Видимость элемента REC */
  --visible: hidden;

  /* Цвета светлой темы */
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --header-text-color: #ffc2e6;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --bg-color: #fff1f7;
  --bg-text-color: #ff8dcb;
  --button-color-hover: rgb(50 49 45 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Фоновое изображение светлой темы */
    --bg-image: url(../images/cover-image-light.png);

      /* Видимость декоративного элемента REC */
    --visible: hidden;

    /* Цвета светлой темы */
    --main-text-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --header-text-color: #ffc2e6;
    --section-title-color: #353430;
    --decorated-zone-color: #353430;
    --accent-color: #ff8dcb;
    --bg-text-color: #ff8dcb;
    --bg-color: #fff1f7;
    --button-color-hover: rgb(50 49 45 / 0.4);
  }
}
