/* Основные стили проекта. */

.page {
  color: var(--main-text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  margin-block-end: var(--main-margin);
  padding: var(--main-padding);
}

/* Декоративные элементы */
.decorated-zone {
  position: relative;
  block-size: 100vb;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--button-color);
  text-transform: lowercase;
  background: transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
}

/* Наведение на кнопку смены темы */
.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

/* Сброс фокуса */
.header__theme-menu-button:focus {
  outline: none;
}

/* Фокус с клавиатуры на кнопке смены темы */
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Общие стили для шапки и футера */
.title {
  color: var(--header-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-transform: lowercase;
}

.header__subtitle {
  color: var(--subtitle-color);
  font-weight: var(--font-weight-bold);
}

/* Декоративный элемент REC */
.header__rec {
  position: absolute;
  visibility: var(--visible);
  color: var(--accent-color);
  text-transform: uppercase;
  inset-block-start: calc(var(--main-padding) + 1px);
  inset-inline-end: calc(var(--main-padding) + 28px);
}

/* Декоративный элемент: точка */
.header__rec::after {
  content: "";
  position: absolute;
  visibility: var(--visible);
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  inset-block-start: 7px;
  inset-inline-end: -19px;
}

/* Фоновый цвет загловков */
.title-decor {
  background-color: var(--bg-text-color);
}

/* Контент */
.main {
  padding-inline: var(--main-padding);
}

/* Общие стили для секций */
.section {
  display: grid;
  grid-auto-flow: row;
  gap: var(--card-gap);
  margin-block-end: var(--section-margin);
}

.section__title {
  color: var(--section-title-color);
  font-size: inherit;
}
.section__list {
  display: grid;
  gap: var(--card-gap);
}

.card {
  display: grid;
  gap: var(--header-card-gap);
}
.card__title {
  color: var(--subtitle-color);
  font-size: inherit;
}

.card__link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

/* Наведение на ссылку */
.card__link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

/* Сброс фокуса */
.card__link:focus {
  outline: none;
}

/* Фокус с клавиатуры на ссылке */
.card__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.recommendations__subtitle {
  color: var(--subtitle-color);
  font-size: inherit;
}

/* Начертание текста в секции "Как концентрироваться лучше..." */
.title-weight {
  font-weight: var(--font-weight-normal);
}

/* Секция с картинками */
.gallery {
  gap: var(--header-card-gap);
  margin-block-end: var(--main-margin);
}

.gallery__title {
  color: var(--subtitle-color);
  font-size: inherit;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* Футер */
.footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Медиазапросы */
@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --main-margin: 60px;
    --section-margin: 80px;
  }

  .header {
    margin-block-end: var(--main-margin);
    padding: var(--main-padding);
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__subtitle {
    justify-self: flex-end;
    inline-size: 50%;
  }

  .reasons,
  .recommendations {
    grid-template-columns: 1fr 2fr;
  }

  .distractions__title {
    inline-size: calc(100% / 3 - var(--header-card-gap));
  }

  .gallery {
    --header-card-gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / 4;
  }

  .gallery__image:nth-child(2) {
    grid-column: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(4) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(6) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .reasons,
  .recommendations {
    column-gap: 8px;
  }

  .distractions__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
