:root {
  /* Шрифт */
  --font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 130%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Фоновое изображение */
  --bg-image: url(../images/cover-image-dark.png);

  /* Видимость декоративного элемента REC */
  --visible: visible;

  /* Размеры */
  --main-padding: 10px;
  --main-margin: 40px;
  --section-margin: 50px;
  --card-gap: 20px;
  --header-card-gap: 10px;

  /* Цвет */
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --button-color: #ff0070;
  --header-text-color: #db00ff;
  --section-title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-text-color: #ff0070;
  --button-color-hover: rgb(255 0 112 / 0.4);
}
